@keyframes identifier {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateX(-110px);
  }
  100% {
    transform: translateY(0);
  }
}
div{
    animation: identifier 1s  ease-in-out infinite alternate;
}